.container {
  position: relative;
  padding-bottom: 100%;
}
  
.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-family: 'Sansita Swashed', cursive;
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow:
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}